.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #333;
  padding: 20px;
  transition: width 0.3s;
}

.sidebar.open {
  width: 250px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.hamburger-menu {
  cursor: pointer;
}

.add-storage-btn {
  background: #444;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  align-items: center;
}

.add-icon {
  margin-right: 10px;
}

.close-btn {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #444;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.cloud-storages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.gdrive {
  background: #444;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  align-items: center;
}

.gdrive-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.gdrive h2 {
  margin: 0;
}

.onedrive {
  background: #444;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  align-items: center;
}

.onedrive-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.chat {
  background: #444;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  align-items: center;
}

.chat-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar.open {
    height: auto;
  }

  .add-storage-btn,
  .close-btn {
    display: block;
  }
}
